services:
  - type: web
    name: dtek-discord-bot
    runtime: python
    region: frankfurt
    plan: free
    branch: main
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      playwright install --with-deps chromium
    startCommand: python bot.py
    envVars:
      - key: DISCORD_TOKEN
        sync: false
      - key: DISCORD_CHANNEL_ID
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: PYTHON_VERSION
        value: "3.11"
      - key: PLAYWRIGHT_BROWSERS_PATH
        value: "0"
    autoDeploy: true
